<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to BookStore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/img1.jpg" class="card-img-top" alt="book_image1" width="200" height="300">
                    <div class="card-body">
                        <p class="card-text">This Section is used to display the information of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/img2.jpeg" class="card-img-top" alt="book_image2" width="200" height="300">
                    <div class="card-body">
                        <p class="card-text">This Section is used to display the information of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/img3.jpeg" class="card-img-top" alt="book_image3" width="200" height="300">
                    <div class="card-body">
                        <p class="card-text">This Section is used to display the information of books</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section breadcrumb{
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Page 1</a></li>
                <li class="breadcrumb-item active" aria-current="page">Index</li>
            </ol>
        </nav>
    }*@

@section scripts{
    <script>
        $(document).ready(function () {
            //alert("Document is ready");
        });
    </script>
}


@* Viewbag
        @{
        // annonymous data
        dynamic data = ViewBag.Data;
    }
    for object
        Id = @ViewBag.Type.Id<br />
        Name = @ViewBag.Type.Author
    for annoymous data
        @data.name
        @data.Id*@

@*viewdata
    @{
        var bookInfo = ViewData["book"] as BookModel;
    }
    @ViewData["property1"]
    <h1>Id = @bookInfo.Id </h1>
    <h1>Author = @bookInfo.Author </h1>*@

@*@{
        ViewData["Title"] = "Home";
    }*@

@*ViewDataAttribute
        @ViewData["CustomProperty"]

    @{
        var book = ViewData["Book"] as BookModel;
    }
    <h1>Id=@book.Id</h1>
    <h1>Name=@book.Title</h1>*@